.seguros-bg {
  background-color: var(--c11);
  padding-bottom: 70px;
}

.seguros-bg h2 {
  color: var(--W);
  font-size: 4rem;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
  padding: 60px 20px 50px 20px;
}

.seguros-bg .grid {
  gap: 40px;
  color: var(--W);
}

.prata-ouro {
  background-color: var(--c12);
  align-items: start;
  border-radius: 4px;
}

.prata {
  color: var(--c7);
  font-size: 2rem;
  padding: 30px 40px;
  display: inline-block;
}

.prata-ouro ul {
  padding-left: 40px;
}

.prata-ouro li {
  padding-bottom: 30px;
  font-family: "Poppins";
  font-weight: 600;
  padding-left: 0px;
  list-style: url(../img/icones/lista.svg);
}

.prata-ouro .botao {
  margin-left: 40px;
  margin-bottom: 40px;
  display: inline-block;
  background-color: var(--c9);
  color: var(--W);
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.1rem;
}

.prata-ouro .botao:hover{
  background-color: var(--c11);
}

.valor-seguro {
  justify-self: end;
  color: var(--W);
  font-size: 2rem;
  padding-top: 30px;
  padding-right: 20px;
  display: inline-block;
  font-family: "Roboto";
  font-weight: 600;
}

.mensal {
  font-size: 0.6rem;
  font-family: "Poppins";
  text-align: end;
}

.ouro {
  color: var(--p1);
  font-size: 2rem;
  padding: 30px 40px;
  display: inline-block;
}

.b-amarelo .botao{
  background-color: var(--);
  background-color: var(--p1);
  color: var(--p5);
  font-family: "Poppins";
  font-weight: 600;
}

.b-amarelo .botao:hover{
  background-color: var(--p2);
}

.seguros-bg .flex {
    justify-content: space-between;
    flex-wrap: initial;
    flex: none;
  }

@media (max-width: 1200px){
    .seguros-bg h2 {
        padding: 60px 20px 40px 20px;
      }
      .prata-ouro .botao {
        margin-left: 40px;
        margin-bottom: 40px;
        padding: 10px 20px;
        font-size: 1rem;
      }
      .ouro {
        padding: 20px 30px;
      }
      .prata{
        padding: 20px 30px;
      }
      .prata-ouro li {
        padding-bottom: 20px;
      }
}

@media (max-width: 850px){
    .seguros-bg .grid{
        grid-template-columns: 1fr;
    }
}


@media (max-width: 450px){
    .ouro{
        font-size: 1.5rem;
    }
    .prata{
        font-size: 1.5rem;
    }
    .valor-seguro {
        font-size: 1.4rem;
        padding-top: 20px;
        padding-right: 20px;

      }
}
