:root {
  --c12: #000000;
  --c11: #111111;
  --c10: #2e2e2e;
  --c9: #404040;
  --c8: #595959;
  --c7: #717171;
  --c6: #9c9c9c;
  --c5: #b2b2b2;
  --c4: #cccccc;
  --c3: #dedede;
  --c2: #ededed;
  --c1: #f7f7f7;
  --W: #ffffff;
  --p5: #332200;
  --p4: #664400;
  --p3: #a66f00;
  --p2: #e4a30b;
  --p1: #ffbb00;
}
/* POPPINS ROBOTO  */
.flex {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.ponto-amarelo {
  color: var(--p2) !important;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.poppins {
  font-family: "Poppins";
  font-weight: 600;
}

.roboto {
  font-family: "Roboto";
  font-weight: 400;
}

.paragrafo {
  font-size: 1.4rem;
  line-height: 2rem;
  max-width: 45ch;
}

.botao {
  background-color: var(--p1);
  padding: 18px 35px;
  display: inline-block;
  border-radius: 4px;
  color: var(--p5);
  font-weight: bold;
  font-family: "Poppins";
  font-weight: 600;
}
